/* Tipos de format()
    -opentype (otf)
        format(opentype)
    -truetype (ttf)
        format(truetype)
    -embedded-opentype
        format(embedded-opentype)
    -truetype-aat (Apple Advanced Typography)
        format(truetype-aat)
    -svg
        format(svg)
*/

@font-face {
    font-family: 'Avant';
    src: url('../fonts/avant-GardeXLight/Avant\ GardeXLight\ Regular.otf') format(opentype);
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/Lato-Reg.ttf') format(truetype);
}

@font-face {
    font-family: 'Lobster';
    src: url('../fonts/lobster/Lobster\ 1.4.otf') format(opentype);
}

@font-face {
    font-family: 'Microsoft Himalaya';
    src: url('../fonts/microsoft\ himalaya/microsoft-himalaya.ttf') format(truetype);
}

:root{
    --fonte_padrao: Lato, Helvetica, sans-serif;
    --fonte_secundaria: Avant, Helvetica, sans-serif;
    --fonte_destaque: Lobster, 'Times New Roman', Times, serif;
    --fonte_serif: 'Microsoft Himalaya', 'Times New Roman', Times, serif;
}