header{
    background-color: red;
}
main section.cartelas > .wrap_estatisticas{
    max-width: 80vw;
}
/*****************************************************************************
************************** CARTELAS ESTATISTICA *******************************
******************************************************************************/
main section.cartelas .cartela_estatistica{    
    gap: 8px;
    /* width: 80vw;
    margin: auto; */
}

main section.cartelas .cartela_estatistica button{
    width: calc(10% - 8px);
}

/******************************** SOMA SORTEADOS ********************************/
main section.cartelas .wrap_estatisticas > .soma_sorteados{
    max-width: 55%;
}

/******************************** PRIMO SORTEADOS ********************************/
main section.cartelas .wrap_estatisticas > .primo_sorteado{
    max-width: 250px;    
}
/****************************** INTERVALO SORTEADOS ******************************/
main section.cartelas .wrap_estatisticas > .intervalo_sorteado{    
    height: 15px;
    max-width: 25%;
}
.wrap_estatisticas > .intervalo_sorteado > .progress_bar{    
    font-size: 12px;
}
/****************************** CONTROL APOSTADOS    ******************************/
