:root {
    --paleta_padrao_cor01: #F2E3D5;
    --paleta_padrao_cor02: #04BFBF;
    --paleta_padrao_cor03: #04ADBF;
    --paleta_padrao_cor04: #7EA629;
    --paleta_padrao_cor05: #027373;

    --paleta_padrao_cor04_: #7ea629af;

    --paleta_monocromatica_cor01: #F2F2F2;
    --paleta_monocromatica_cor02: #A6A6A6;
    --paleta_monocromatica_cor03: #595959;
    --paleta_monocromatica_cor04: #262626;
    --paleta_monocromatica_cor05: #0D0D0D;

    --cor20Mais: #115959;
    --cor10e20: #0B508C;
    --cor09: #2474A6;
    --cor08: #8C3E62;    
    --cor07: #c95f5f;
    --cor06: #F2BC8D;
    --cor05: #D9C9BA;
    --cor04: #2EF2BB;
    --cor03: #30F2CF;
    --cor02: #C8C5D9;
    --cor01: #BACDD9;
    --cor00: #f0d6c7;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
html{
    width: 100vw;
}
body{
    overflow-x: hidden;
}
/*****************************************************************************
************************************* READER *********************************
******************************************************************************/
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--paleta_padrao_cor01);
    padding-block: 10px;
    box-shadow: 1px 1px 5px 1px #00000071;
}

/************************************ MENU ********************************/
header > nav > ul.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
header > nav > ul.menu > li{    
    display: inline-block;
    /* padding-block: 10px;    
    padding-inline: 15px; */
    padding-block: 25px;
    padding-inline: 5px;
    border-radius: 2px;
    color: var(--paleta_padrao_cor05);
}
header > nav > ul.menu > li:hover{
    background-color: var(--paleta_padrao_cor04);
    color: var(--paleta_monocromatica_cor01);
    text-shadow: 1px 1px 1px #0000005d;
    cursor: pointer;
}
header > nav > ul.menu > li:hover ul, ul.drop-down{
    display: flex;
}

header ul.menu > li > ul.drop-down{    
    display: none;
    flex-direction: column;
    text-align: left;
    gap: 5px;
    position: absolute;
    z-index: 3;
    background-color: var(--paleta_padrao_cor04);
}
header ul.menu > li > ul.drop-down > li{
    display: inline-block;
    color: var(--paleta_monocromatica_cor01);
    padding-block: 8px;    
    padding-inline: 30px;
    text-shadow: 1px 1px 5px #0000006c;
    transition: background-color .2s ease-in;
}
header ul.menu > li > ul.drop-down > li:hover{
    background-color: var(--paleta_padrao_cor05);
}

/************************************ RANGE ********************************/
header .range_concursos{    
    background: var(--paleta_padrao_cor02);
    height: 8px;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-inline: 45px;    
    z-index: 0;
}

header .range_concursos .ui-widget-header{
    background: var(--paleta_padrao_cor05);    
}

header .range_concursos .ui-slider-handle{
    width: 23px;
    height: 23px;
    background: var(--paleta_padrao_cor03);
    border: 6px solid var(--paleta_padrao_cor01);
    border-radius: 50%;
    outline: none;
    top: -8px;
    box-shadow: 0px 0px 4px 1px #00000033;
    transition: width .2s, heigth .2s, border .2s;
}
header .range_concursos .ui-slider-handle:focus {
    background: var(--paleta_padrao_cor04);
    border: 8px solid var(--paleta_padrao_cor01);
    width: 26px;
    height: 26px;
    top: -10px;
}
header .range_concursos .ui-slider-handle .value {
    display: block;
    position: absolute;
    padding: 7px;
    background-color: var(--paleta_padrao_cor03);
    border-radius: 5px;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--paleta_monocromatica_cor01);
    font-size: 11px;
    text-shadow: 1px 1px 2px #00000050;
    filter: drop-shadow(0px 2px 4px #0000009d);
}

header .range_concursos .ui-slider-handle .value::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    border: solid;
    height: 0;
    width: 0;
    border-color: rgba(194, 225, 245, 0);
    border-top-color: var(--paleta_padrao_cor03);
    border-width: 5px;
    margin-left: -5px;
}
/*****************************************************************************
******************************* MAIN *****************************************
******************************************************************************/
main{
    max-width: 95vw;
    margin: auto;
    margin-top: 30px;
}
/*****************************************************************************
**************************** WRAP ESTATISTICAS *******************************
******************************************************************************/
main section.cartelas > .wrap_estatisticas{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    max-width: 95vw;
    margin: auto;

}
/*****************************************************************************
************************** CARTELAS ESTATISTICA *******************************
******************************************************************************/

main section.cartelas .cartela_estatistica{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px; 
    align-content: stretch;
    flex-wrap: wrap;
    min-width: 300px;   
    position: relative;
}
main section.cartelas .cartela_estatistica button{
    color: var(--paleta_padrao_cor01);
    text-shadow: 1px 1px 1px #0000006c;
    border: none;
    outline: none;
    border-radius: 5px;
    filter: drop-shadow(0px 0px 2px #0000003f);
    position: relative;width: 25px;
    padding-block: 3px 10px;
    padding-inline: 2px;
    text-align: center;
    font-size: clamp(16px, 2.5vw, 23px);
    width: calc(10% - 5px);
}
main section.cartelas .cartela_estatistica .media_sorteado{
    display: none;
    font-size: 10px;
    position: absolute;
    top: 1px;
    left: 5px;
}
main section.cartelas .cartela_estatistica .qtd_sorteado{    
    font-size: clamp(8px, 1.3vw, 11px);
    position: absolute;
    bottom: 2px;
    right: 5px;
}
main section.cartelas .cartela_estatistica button:nth-child(-n+6){
    background-color: var(--cor00);
    color: var(--paleta_monocromatica_cor02);
}
main section.cartelas .cartela_estatistica button:nth-child(n+7):nth-child(-n+12){
    background-color: var(--cor01);
    color: var(--paleta_monocromatica_cor02);
}
main section.cartelas .cartela_estatistica button:nth-child(n+13):nth-child(-n+16){
    background-color: var(--cor02);
    color: var(--paleta_monocromatica_cor02);
}
main section.cartelas .cartela_estatistica button:nth-child(n+17):nth-child(-n+21){
    background-color: var(--cor03);
    color: var(--paleta_monocromatica_cor02);
}
main section.cartelas .cartela_estatistica button:nth-child(n+22):nth-child(-n+26){
    background-color: var(--cor04);
    color: var(--paleta_monocromatica_cor02);
}
main section.cartelas .cartela_estatistica button:nth-child(n+27):nth-child(-n+28){
    background-color: var(--cor05);    
    color: var(--paleta_monocromatica_cor02);
}
main section.cartelas .cartela_estatistica button:nth-child(n+29):nth-child(-n+32){
    background-color: var(--cor06);
    color: var(--paleta_monocromatica_cor02);
}
main section.cartelas .cartela_estatistica button:nth-child(n+33):nth-child(-n+36){
    background-color: var(--cor07);
}
main section.cartelas .cartela_estatistica button:nth-child(n+37):nth-child(-n+40){
    background-color: var(--cor08);
}
main section.cartelas .cartela_estatistica button:nth-child(n+41):nth-child(-n+42){
    background-color: var(--cor09);
}
main section.cartelas .cartela_estatistica button:nth-child(n+43):nth-child(-n+53){
    background-color: var(--cor10e20);
}
main section.cartelas .cartela_estatistica button:nth-child(n+54):nth-child(-n+62){
    background-color: var(--cor20Mais);
}

/******************************** SOMA SORTEADOS ********************************/
main section.cartelas .wrap_estatisticas > .soma_sorteados{
    align-self: center;
    width: 70%;
    min-width: 170px;
    height: 27px;
    margin-bottom: 15px;
    position: relative;
}
.wrap_estatisticas > .soma_sorteados > .range_soma_sorteados{
    background-image: linear-gradient(90deg, 
        var(--paleta_padrao_cor05), 
        var(--paleta_padrao_cor02), 
        var(--paleta_padrao_cor01), 
        var(--paleta_padrao_cor01), 
        var(--paleta_padrao_cor02), 
        var(--paleta_padrao_cor05)
    );
    border: none;
}
.wrap_estatisticas > .soma_sorteados > .range_soma_sorteados > div{
    width: 25px;
    height: 23px;
    font-size: 11px;
    text-align: center;
    color: var(--paleta_padrao_cor01);    
    background: none;
    background-color: var(--paleta_padrao_cor04_);    
    padding-inline: 13px;
    border: none;
    top: -5px;
    text-shadow: 1px 0px 1px #00000096;
    transition: all .5s ease-in;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.wrap_estatisticas > .soma_sorteados > .rules_soma{
    position: absolute;
    top: 20px;
    bottom: 0;
    width: 100%;
}
.wrap_estatisticas > .soma_sorteados > .rules_soma::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(90deg, var(--paleta_padrao_cor01) 1px, transparent 2px);
    background-size: 11% 100%;
}
/****************************** CONTROL SORTEADOS ******************************/
main section.cartelas .wrap_estatisticas > .control_sorteado{
    align-self: flex-end;
    display: flex;
    flex-direction: row;
}

.wrap_estatisticas > .control_sorteado .switch{
    display: inline;
    width: 35px;    
    height: 15px;
    position: relative;
}

.wrap_estatisticas > .control_sorteado .switch input{
    display: none;
}

.wrap_estatisticas > .control_sorteado .switch .slider{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 30px;
    box-shadow: 0 0 0 2px var(--paleta_padrao_cor02), 0 0 4px var(--paleta_padrao_cor02);
    cursor: pointer;
    border: 2px solid transparent;
    overflow: hidden;
    transition: .4s;
}
/******************************** PRIMO SORTEADOS ********************************/
main section.cartelas .wrap_estatisticas > .primo_sorteado{
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
    min-width: 170px;
    margin-bottom: 15px;
}

.wrap_estatisticas > .primo_sorteado > .qtd_primo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-image: url('../img/esfera-1.png');
    background-repeat: no-repeat;
    background-size: contain;
    color: var(--paleta_monocromatica_cor01);
    text-shadow: 1px 1px 1px #000000a9;
    filter: drop-shadow(2px 2px 2px #00000049);
}

.wrap_estatisticas > .primo_sorteado > .qtd_primo.select{
    background-image: url('../img/esfera-2.png');
}
.wrap_estatisticas > .primo_sorteado > .qtd_primo:first-child{
    width: 12px;
    height: 12px;
    font-size: 8px;
}
.wrap_estatisticas > .primo_sorteado > .qtd_primo:nth-child(2){
    width: 15px;
    height: 15px;
    font-size: 10px;
}
.wrap_estatisticas > .primo_sorteado > .qtd_primo:nth-child(3){
    width: 18px;
    height: 18px;
    font-size: 12px;
}
.wrap_estatisticas > .primo_sorteado > .qtd_primo:nth-child(4){
    width: 21px;
    height: 21px;
    font-size: 12px;
}
.wrap_estatisticas > .primo_sorteado > .qtd_primo:nth-child(5){
    width: 23px;
    height: 23px;
    font-size: 14px;
}
.wrap_estatisticas > .primo_sorteado > .qtd_primo:nth-child(6){
    width: 26px;
    height: 26px;
    font-size: 17px;
}
/****************************** INTERVALO SORTEADOS ******************************/
main section.cartelas .wrap_estatisticas > .intervalo_sorteado{
    align-self: center;
    display: flex;
    width: 25%;
    min-width: 120px;
    height: 12px;
    background-color: var(--paleta_monocromatica_cor01);
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow: 0px 8px 6px -4px #00000080;
}

.wrap_estatisticas > .intervalo_sorteado > .progress_bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 75%;
    background-image: linear-gradient(90deg, var(--cor06), var(--cor07));
    font-size: 10px;
    color: var(--paleta_monocromatica_cor01);
    border-radius: 0 10px 10px 0;    
    text-shadow: 1px 1px 1px #00000063;
}


.wrap_estatisticas > .control_sorteado .switch .slider::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--paleta_padrao_cor03);
    border-radius: 30px;
    transform: translateX(-20px);
    transition: .4s;
}
/****************************** CONTROL APOSTADOS    ******************************/
main section.cartelas .cartela_estatistica .control_navegacao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 7%;
    height: 100%;
    color: var(--paleta_monocromatica_cor01);
    text-shadow: 1px 0px 2px #000000b0;    
    position: absolute;
    z-index: 2;
    cursor: pointer;
}

.cartela_estatistica .prev{
    background-image: linear-gradient(90deg, #F2F2F2E8 5px, #04BFBF80, #04bfbf2d);
    left: 0;    
    opacity: 0;
    transition: .5s;
}
.cartela_estatistica:hover .prev{
    opacity: 1;
}
.cartela_estatistica .next{
    background-image: linear-gradient(270deg, #F2F2F2E8 5px, #04BFBF80, #04bfbf2d);
    right: 0;    
    opacity: 0;
    transition: .5s;
}
.cartela_estatistica:hover .next{
    opacity: 1;
}
































