/*****************************************************************************
************************************* READER *********************************
******************************************************************************/

/************************************ MENU ********************************/
header > nav > ul.menu{
    width: auto;
}
header > nav > ul.menu > li{
    padding-block: 25px;
    padding-inline: 5px;
}

/*****************************************************************************
************************** CARTELAS ESTATISTICA *******************************
******************************************************************************/
main section.cartelas .cartela_estatistica{
    /* max-width: 300px; */
    justify-content: center;
    gap: 5px;
    min-width: 300px;    
}

main section.cartelas .cartela_estatistica button {
    width: 25px;
    padding-block: 3px 10px;
    padding-inline: 2px;
    text-align: center;
    font-size: 15px;
}
main section.cartelas .cartela_estatistica .media_sorteado{
    display: none;
}
main section.cartelas .cartela_estatistica .qtd_sorteado{
    /* display: none; */
    font-size: 8px;
}