header{
    background-color: red;
}

/*****************************************************************************
************************** CARTELAS ESTATISTICA *******************************
******************************************************************************/
main section.cartelas .cartela_estatistica{    
    gap: 8px;
    width: 80vw;
    margin: auto;
}

main section.cartelas .cartela_estatistica button{
    width: calc(10% - 8px);
}

/******************************** SOMA SORTEADOS ********************************/
main section.cartelas .wrap_estatisticas > .soma_sorteados{
    max-width: 50vw;
}