header{
    background-color: var(--cor_landscape);
}
main section.cartelas > .wrap_estatisticas{
    max-width: 80vw;
}
/*****************************************************************************
************************** CARTELAS ESTATISTICA *******************************
******************************************************************************/
main section.cartelas .cartela_estatistica{    
    gap: 8px;
    /* width: 80vw;
    margin: auto; */
}

main section.cartelas .cartela_estatistica button{
    width: calc(10% - 8px);
}

/******************************** SOMA SORTEADOS ********************************/
main section.cartelas .wrap_estatisticas > .soma_sorteados{
    max-width: 55%;
}

/******************************** PRIMO SORTEADOS ********************************/
main section.cartelas .wrap_estatisticas > .primo_sorteado{
    max-width: 250px;    
}
/****************************** INTERVALO SORTEADOS ******************************/
main section.cartelas .wrap_estatisticas > .intervalo_sorteado{    
    height: 15px;
    max-width: 25%;
}
.wrap_estatisticas > .intervalo_sorteado > .progress_bar{    
    font-size: 12px;
}

/*****************************************************************************
********************************* WRAP VOLANTE *******************************
******************************************************************************/
main section.cartelas .wrap_volante{
    max-width: 65vw;
}

/**********************************  VOLANTE ********************************/
.wrap_volante .volante_body .cartela_aposta{
    gap: 12px;
    justify-content: space-between;
}

.wrap_volante .volante_body .cartela_aposta button{
    width: calc(10% - 12px);
    color: var(--paleta_padrao_cor01);
    padding-block: 9px;
}

/*****************************************************************************
********************************* WRAP PRIMOS *******************************
******************************************************************************/
.wrap_primo table td:nth-child(n+12):nth-child(-n+18),
.wrap_primo table th:nth-child(n+12):nth-child(-n+18){
    display: table-cell;
}