/*****************************************************************************
************************** CARTELAS ESTATISTICA *******************************
******************************************************************************/
main section.cartelas .cartela_estatistica{
    max-width: none;
    min-width: none;
}

header{
    background-color: red;
}